body {
    text-align: center;
    background-color: gray;
    margin: 0;
}
footer .circle {
    text-align: center;
    border-radius: 80%;
    border: solid 5px black;
    text-align: center;
    width: 20%;
    margin: 5%;
}
